# M32 ML Analysis

## 1. Load Necessary Tool

In [1]:
import sys
!{sys.executable} -m pip install wheel
!{sys.executable} -m pip install numpy
!{sys.executable} -m pip install pandas

Requirement already satisfied: wheel in c:\users\hyunseok.kim\appdata\local\programs\python\python311\lib\site-packages (0.40.0)
Requirement already satisfied: numpy in c:\users\hyunseok.kim\appdata\local\programs\python\python311\lib\site-packages (1.24.3)
Requirement already satisfied: pandas in c:\users\hyunseok.kim\appdata\local\programs\python\python311\lib\site-packages (2.0.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\hyunseok.kim\appdata\roaming\python\python311\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\hyunseok.kim\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: tzdata>=2022.1 in c:\users\hyunseok.kim\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in c:\users\hyunseok.kim\appdata\local\programs\python\python311\lib\site-packages (from pandas) (1.24.3)
Requirement already satisfied: six>=1.5 in c:\users\hyunseok.kim\appdata\roaming\python\python311\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [2]:
import pandas as pd

Selected 2022 data of M32 junctions 1 and 2

In [18]:
csv_file="MIDAS Site -  1154 at M32 southbound between J1 and J2 (200044286).csv"
df=pd.read_csv(csv_file,skiprows=3)
df.head()

,Local Date,Local Time,Day Type ID,Total Carriageway Flow,Total Flow vehicles less than 5.2m,Total Flow vehicles 5.21m - 6.6m,Total Flow vehicles 6.61m - 11.6m,Total Flow vehicles above 11.6m,Speed Value,Quality Index,Network Link Id,NTIS Model Version
0,2022-09-01,00:14:00,11,71.0,42.0,14.0,6.0,9.0,103.85,15,200044286,16
1,2022-09-01,00:29:00,11,74.0,53.0,8.0,4.0,9.0,103.25,15,200044286,16
2,2022-09-01,00:44:00,11,82.0,58.0,8.0,8.0,8.0,103.08,15,200044286,16
3,2022-09-01,00:59:00,11,57.0,40.0,6.0,4.0,7.0,101.20,15,200044286,16
4,2022-09-01,01:14:00,0,50.0,33.0,3.0,3.0,11.0,102.44,15,200044286,16