# M32 ML Analysis

## 1. Load Necessary Tool

In [17]:
import sys
!{sys.executable} -m pip install wheel
!{sys.executable} -m pip install numpy
!{sys.executable} -m pip install pandas

Requirement already satisfied: wheel in c:\users\hyunseok.kim\appdata\local\programs\python\python311\lib\site-packages (0.40.0)
Requirement already satisfied: numpy in c:\users\hyunseok.kim\appdata\local\programs\python\python311\lib\site-packages (1.24.3)
Requirement already satisfied: pandas in c:\users\hyunseok.kim\appdata\local\programs\python\python311\lib\site-packages (2.0.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\hyunseok.kim\appdata\roaming\python\python311\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\hyunseok.kim\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: tzdata>=2022.1 in c:\users\hyunseok.kim\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in c:\users\hyunseok.kim\appdata\local\programs\python\python311\lib\site-packages (from pandas) (1.24.3)
Requirement already satisfied: six>=1.5 in c:\users\hyunseok.kim\appdata\roaming\python\python311\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [12]:
import pandas as pd

In [19]:
csv_file="ConversionTable.csv"
df=pd.read_csv(url)
contain_values = df[df['MeasurementSiteName'].str.contains('M32')]
contain_values.head()

,MeasurementSiteName,MeasurementSiteID,LegacyMeasurementSiteID
242,M32 southbound within J1,243,30028797
616,M32 northbound between J1 and M4,616,30027526
834,M32 J1 southbound access,834,30028799
1154,M32 southbound between J1 and J2,1154,30028786
1421,M32 southbound between M4 and J1,1421,30027527